<div class="container">
  <div class="home-page">
    <div class="home-widget">
      <h1>
        Welcome to Budget App
      </h1>
      <h3>All your transactions are recorded here</h3>
    </div>
  </div>
</div>