/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f3f3f3;
  font-family: 'Nunito Sans', sans-serif;
  color: #434b54;
}

.main-body {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: #3778c2 !important;

  /* height: 10vh; */
}

.navbar-brand {
  color: white;
}

.fixed-bottom {
  max-width: 600px;
  margin: 16px auto;
  background-color: #5fb523;
  border: none;
}

.fixed-bottom:hover {
  background-color: #306e03;
}

img {
  width: 50px;
  height: 50px;
}

.container {
  /* background-color: #fff; */
  margin-top: 20px;
}

/* Splash screen */
.splash {
  height: 90vh;
  background-image: url('splash.png');
  color: white;
  padding: 10px;
  background-color: rgb(0 0 0 / 46%);
  background-blend-mode: darken;
}

.splash .home-page {
  margin: auto;
  margin-top: 30vh;
  width: 50%;
  text-align: center;
}

.splash .home-page h1 {
  font-weight: bold;
  font-size: xxx-large;
}

/* Register User */
#new_user {
  display: flex;
  flex-direction: column;

  /* padding: 10px; */
  background-color: #fff;
  padding-bottom: 0;
  max-width: 540px;
  margin: auto;
  margin-top: 20px;
}

#new_user .upload-pic {
  padding: 10px 15px;
}

#new_user label {
  font-family: 'Nunito Sans', sans-serif;
  color: #434b54;
}

/* #new_user .field{
  border-top: 1px solid #eee;
} */

#new_user input:not([type=submit]) {
  border: 0;
  padding: 10px 15px;
  outline: none;
  border-top: 1px solid #eee;
}

#new_user .actions {
  padding: 10px 15px;
  background-color: #5fb521;
  color: #fff;

  /* margin: 0px -11px; */
}

#new_user input[type=submit] {
  width: 100%;

  /* height: 100%; */
  background: none;
  color: #fff;
  border: 1px solid;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
}

.no-top-border {
  border-top: 0 !important;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.cat-bar {
  width: 100%;
  background-color: #fff;
  padding: 15px 10px;
}

.cat-bar .content {
  max-width: 830px;
  margin: auto;

  /* padding:10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cat-bar .content h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

/* Categories */
.cat-list {
  max-width: 790px;
  margin: auto;
  padding: 10px;
}

.cat {
  flex-direction: row !important;
  align-items: center;
  margin-bottom: 10px;
  gap: 11px;
  padding: 10px;
  text-decoration: none;
  color: #434b54;
}

.cat-info {
  flex-grow: 1;
}

.cat-info span {
  color: #adb5bd;
  font-size: 14px;
}

.cat-cost {
  font-weight: bold;
}

.category-group .summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category-group .summary h2 {
  margin: 0;
}
